/* Estilos gerais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #e3e3e3;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 4%;
}

header .btn-contato button, .banner-inicio button{
    font-size: 18px;
    color: #000;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 10px;
    text-transform: initial;
    cursor: pointer;
    transition: .5s;
}

header .btn-contato button:hover, .banner-inicio button:hover{
    background-color: #000;
    color: #fff;
}

/* Estilo do cabeçalho */
header{
    width: 100%;
    padding: 30px 0;
    position: fixed; /* Essa linha e as duas linhas abixo são para deixar o cabeçalho transparente e fixo no topo */
    top: 0;
    left: 0;
    transition: .4s; /*Usado para a transformação do menu quando há rolagem da tela */
    z-index: 5; /* Usadp para o menu ficar na frente de todas as seções */
}

header .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img{
    max-width: 160px;
}

header .logo img.logo-preta{
    display: none;
}

header .menu-desktop nav ul{
    list-style-type: none;
}

header .menu-desktop nav ul li{
    display: inline-block;
    margin: 0 40px;
}

header .menu-desktop nav ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    text-transform: capitalize;
    display: inline-block; /* Esse display serve para habilitar o scale abaixo */
    transition: 0.2s;
}

header .menu-desktop nav ul li a:hover{
    transform: scale(1.05);
    color: #FF7F27;
}

header .btn-contato button{
    width: 200px;
    height: 60px;
    font-size: 17px;
}

/* Estilo do menu quando não está no topo */
header.rolar{
    background-color: #fff;
    box-shadow: 0 0 8px #00000066;
    padding: 20px 0;
}

header.rolar .menu-desktop nav ul li a{
    color: #000;
}

header.rolar .menu-desktop nav ul li a:hover{
    color: #FF7F27;
}

header.rolar .btn-contato button{
    color: #000;
    border: 1px solid #000;
}

header.rolar .btn-contato button:hover{
    background-color: #000;
    color: #fff;
}

header.rolar .logo .logo-branca{
    display: none;
}

header.rolar .logo .logo-preta{
    display: block;
}

/* Estilo do botão mobile */
header .btn-menu-mob{
    display: none;
    position: relative; /* position necessário para habilitar o z-index */
    z-index: 7; /* Necessário para deixar o botão sempre na frente e acessível */
}

header .btn-menu-mob div{
    background-color: #000;
    height: 3px;
    margin: 10px 0;
    transition: .2s;
}

header .btn-menu-mob .line-menu-mob-1{
    width: 30px;
}

header .btn-menu-mob .line-menu-mob-2{
    width: 20px;
}

header.rolar .btn-menu-mob div{
    background-color: #000;
}

header .btn-menu-mob .line-menu-mob-1.ativo1{
    transform: rotate(45deg) translate(31%);
    background-color: #fff; /* Necessário para o "x" aparecer quando a página é rolada para baixo */
}

header .btn-menu-mob .line-menu-mob-2.ativo2{
    width: 30px;
    transform: rotate(-45deg) translate(30%);
    background-color: #fff;
}

body.parar{
    overflow: hidden; /* Faz com que a página não consiga rolar quando o menu mobile está aberto, com a página rolando tava bugando a janela do menu */
}

/* Estilo do menu mobile */
    header .menu-mobile{
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow: hidden; /* Esconde o que estiver vazando */
        transition: .4s;
    }

    header .menu-mobile nav ul{
        list-style-type: none;
    }

    header .menu-mobile nav{
        width: 100vw;
    }

    header .menu-mobile nav a{
        font-size: 24px;
        text-decoration: none;
        color: #fff;
        padding: 20px 0; /* O padding não consegue formatar um link na sua forma padrão, para conseguir formatar é necessário deixar o display dos links como block */
        display: block;
        transition: .4s;
    }

    header .menu-mobile nav a:hover{
        background-color: #fff;
        color: #000;
    }

    header .menu-mobile.abrir{
        width: 100%;
        height: 100vh;
    }


/* Estilo banner inicial */
.banner-inicio{
    padding-top: 100px;
    background-color: #fff;
    height: 700px;
}

.banner-inicio .interface{
    display: flex;
    align-items: center;
    height: 100%;
    background-image: url(../imagens/capa-lucremais.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-inicio .txt-banner{
    padding-left: 4%;
}

.banner-inicio .txt-banner h1{
    font-size: 4.4em;
    line-height: 70px;
    font-weight: 200;
}

.banner-inicio .txt-banner h1 span{
    display: flex;
    font-weight: 800;
}

.banner-inicio .txt-banner p{
    font-size: 20px;
    font-weight: 300;
    margin: 30px 0;
}

.banner-inicio .txt-banner p span{
    display: flex;
    color: #FF7F27;
    font-weight: 700;
}

.banner-inicio button{
    width: 220px;
    height: 60px;
    font-size: 20px;
}

/* Estilo da seção empresa */
.empresa span{
    font-weight: bold;
}

.empresa{
    background-image: linear-gradient(#FFF, #ff7d27bd, #FF7F27);
    height: 100%;
    padding-top: 80px;
}

.empresa h1{
    color: #FF7F27;
    text-align: center;
    font-size: 2.5em;
    font-weight: 600;
    padding-top: 30px;
}

.empresa .apresentacao{
    display: flex;
    justify-content: space-around;
    padding: 80px 0;
}

.empresa .pergunta{
    width: 50%;
    /* text-align: center; */
    align-self: center;
}

.empresa .pergunta h2{
    text-transform: uppercase;
    font-size: 3em;
    word-spacing: 10px;
    color: #fff;
    font-size: 3em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FF7F27; 
}

.empresa .pergunta .img-pergunta{
    display: flex;
    justify-content: center;
}

.empresa .img-pergunta img{
    width: 300px;
}

.empresa .img-pergunta h2{
    font-size: 60px;
}

.empresa .resposta{
    width: 50%;
    align-self: center;
}

.empresa .apresentacao p i, .empresa .mv-box p i{
    font-size: 16px;
}

.empresa .resposta p{
    margin-bottom: 20px;
    font-size: 18px;
}

.empresa .missao-visao{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 100px 0;
}

.empresa .mv-box{
    background-color: #FFF;
    border-radius: 10px;
    width: 25%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    text-align: center;
}

.empresa .mv-box i{
    font-size: 40px;
    color: #FF7F27;
}

.empresa .mv-box h4{
    padding: 10px 0 30px 0;
    font-size: 20px;
    text-transform: uppercase;
}

.empresa .mv-box p{
    margin-bottom: 8px;
    font-size: 18px;
}

/* Estilo dos serviços */
.servicos{
    padding: 60px 0;
    background-color: #fff;
}

.servicos h2{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 50px;
    font-weight: 600;
    color: #FF7F27;
}

.servicos .itens-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    margin-bottom: 60px;
}

.servicos .txt-itens h3{
    font-size: 2.3em;
    line-height: 40px;
    margin-bottom: 20px;
    font-weight: 300;
}

.servicos .txt-itens h3 span{
    font-weight: 700;
    color: #FF7F27;
}

.servicos .txt-itens p{
    font-size: 18px;
    margin-bottom: 10px;
}

.servicos .txt-itens p i{
    color: #FF7F27;
}

.servicos .txt-itens p span{
    font-weight: 700;
}

.servicos .itens-container .img-itens img{
    max-width: 480px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.623) 0px 3px 8px;;
}

/* Estilo do parallax */
.parallax{
    height: 400px;
    position: relative; /* Esse position serve para habilitar o parallax que vai ser editado abaixo */
    color: #fff;
    text-align: center;
    background-color: #ff7d27d3;
}

.parallax .interface{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    position: relative;
}

.parallax h3{
    font-size: 3em;
    line-height: 60px;
    font-weight: 600;
}

.parallax h3 span{
    display: block;
    font-weight: 200;
}

.parallax button{
    font-size: 18px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    text-transform: initial;
    cursor: pointer;
    transition: .5s;
    margin-top: 50px;
    width: 220px;
    height: 60px;
}

.parallax button:hover{
    background-color: #fff;
    color: #000;
}

/* Estilo da seção nossos benefícios */
.beneficios{
    padding: 80px 0;
}

.txt-beneficios, .campo-bnf{
    display: inline-block;
    margin-right: -4px; /* Esse -4px é algum bug do inline-block que adiciona 4px nas laterais, sem ele os blocos não ficam lado a lado */
    vertical-align: top;
}

.txt-beneficios{
    width: 40%;
    height: 740px;
    padding-top: 25%;
}

.campo-bnf{
    width: 60%;
}

.beneficios .txt-beneficios h3{
    font-size: 4em;
    font-weight: 300;
    line-height: 60px;
}

.beneficios .txt-beneficios h3 span{
    display: block;
    font-weight: 700;
    color: #FF7F27;
}

.campo-bnf .bnf-box{
    display: flex;
    align-items: center;
    gap: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

.campo-bnf .bnf-box img{
    max-width: 100px;
}

.campo-bnf .bnf-box h4{
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: 300;
}

.campo-bnf .bnf-box h4 span{
    font-weight: 700;
    color: #FF7F27;
}

.campo-bnf .bnf-box p{
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 5px;
}

.campo-bnf .bnf-box p span{
    font-weight: 700;
}

.campo-bnf .bnf-box p i{
    color: #FF7F27;
}

/* Estilo da seção dos parceiros */
.parceiros{
    background-color: #fff;
    text-align: center;
    padding: 50px 0 100px 0;
}

.txt-parceiros{
    font-size: 2.5em;
    font-weight: 600;
    text-align: center;
    color: #FF7F27;
    padding: 30px;
}

.img-parceiros{
    width: 100%;
    margin: 30px 0;
    border: 5px solid #FF7F27;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Estilo do rodapé */
footer{
    background-color: #FF7F27;
    text-align: center;
    color: #fff;
    padding: 60px 0;
}

footer .btn-footer button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid white;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin: 0 10px;
    transition: .4s;
}

footer .btn-footer button:hover{
    background-color: #fff;
    color: #000;
}

footer .direitos{
    border-top: 3px solid #fff;
    margin-top: 30px;
}

footer .direitos p{
    padding: 20px 0 0 17px;
}

/* Estilo do botão Whatsapp */
.btn-whats button{
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    margin-right: 1vw;
    margin-bottom: 5px;
    line-height: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    transition: .4s;  
}

.btn-whats button a{
    text-decoration: none;
    color: #FF7F27;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-whats button:hover{
    background-color: #000;
    
}

.btn-whats button a:hover{
    color: #fff;
}

.btn-whats button i{
    font-size: 30px;    
}